@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --button-color: #2196f3;
  --dark-color: #212121;
  --footer-color: #2f303a;
  --background-general: #ffffff;
  --text-color: #757575;
  --background-team: #f5f4fa;
  --footer-contacts: #ffffff99;
  --border-color: #ECECEC;

}

body {
  font-family: "Roboto";
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo-web {
  color: var(--button-color);
}

.logo-studio {
  color: var(--dark-color);
}

li {
  list-style-type: none;
}

header{
  border-bottom-width: 1px;
  border-color: var(--border-color);
  border-style: solid;
}

.header-navigation a {
  text-decoration: none;
  color: var(--dark-color);

  margin-top: 24px;
  margin-bottom: 25px;
}

.header-navigation{
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.header-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--dark-color);
}

.header-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--dark-color);
}

.header-list{
  display: flex;
  height: 16px;
  width: 281px;
  justify-content: space-between;

  margin-left: 93px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.header-studio{
  width: 45px;
}

.header-portfolio{
  width: 72px;
}

.header-contacts{
  width: 64px;
}

.header_mail_tel{
  display: flex;
  width: 307px;
  justify-content: space-between;

  margin-left: 344px;
  margin-bottom: 32px;
  margin-top: 32px;
}

.header-mail{
  width: 135px;
}

.header-tel{
  width: 135px;
}

a:hover {
  color: var(--button-color);
}


button {
  background-color: var(--background-team);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;

  height: 38px;
  top: 174px;
  left: 512px;
  border-radius: 4px;
  border: none;
}

.button1 {
  width: 73px;
}

.button2 {
  width: 125px;
}

.button3 {
  width: 112px;
}

.button4 {
  width: 103px;
}

.button5 {
  width: 130px;
}
button:hover {
  background-color: var(--button-color);
  color: var(--background-general);
}

.button-list{
  display: flex;
  width: 575px;
  margin: 0 auto;
  justify-content: space-between;

  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-item{
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  
}

.portfolio-name{
font-size: 18px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.06em;
text-align: left;

margin-top: 20px;
margin-bottom: 4px;
margin-left: 24px;

}

.portfolio-text{
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0.03em;
text-align: left;

margin-left: 24px;

}

.portfolio-list{
  display: flex;
  width: 1170px;
  margin: 0 auto;
  justify-content: space-between;
  height: 1272px;
  align-content: space-between;

  flex-wrap: wrap;

  margin-bottom: 94px;
}


footer a {
  text-decoration: none;
}

footer {
  background-color: var(--footer-color);
}

.footer-logo-studio {
  color: var(--background-general);
}

.footer-address {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--background-general);

  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--footer-contacts);
}

.footer-all{
  display: block;
  width: 1170px;
  margin: 0 auto;

  padding-top: 60px;
}

.footer-number{
  margin-top: 9px;
  padding-bottom: 60px;
}
