.header-navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    &-logo {
      font-family: "Raleway";
      font-size: 26px;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0.03em;
      text-align: left;
      &-web {
        color: var(--button-color);
      }
      &-studio {
        color: var(--dark-color);
      }
    }
    & a {
      text-decoration: none;
      color: var(--dark-color);
  
      margin-top: 24px;
      margin-bottom: 25px;
    }
    &-list {
      display: flex;
      height: 16px;
      width: 281px;
      justify-content: space-between;
  
      margin-left: 93px;
      margin-bottom: 32px;
      margin-top: 32px;
      &-item {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--dark-color);
        &-studio {
          width: 45px;
        }
        &-portfolio {
          width: 72px;
        }
        &-contacts {
          width: 64px;
        }
      }
    }
    &-mailtel {
      display: flex;
      width: 307px;
      justify-content: space-between;
    
      margin-left: 344px;
      margin-bottom: 32px;
      margin-top: 32px;
      &-email {
        width: 135px;
      }
      &-tel {
        width: 135px;
      }
    }
  }