
.header-navigation {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    &-logo {
      font-family: "Raleway";
      font-size: 26px;
      font-weight: 700;
      line-height: 31px;
      letter-spacing: 0.03em;
      text-align: left;
      &-web {
        color: var(--button-color);
      }
      &-studio {
        color: var(--dark-color);
      }
    }
    & a {
      text-decoration: none;
      color: var(--dark-color);
  
      margin-top: 24px;
      margin-bottom: 25px;
    }
    &-list {
      display: flex;
      height: 16px;
      width: 281px;
      justify-content: space-between;
  
      margin-left: 93px;
      margin-bottom: 32px;
      margin-top: 32px;
      &-item {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--dark-color);
        &-studio {
          width: 45px;
        }
        &-portfolio {
          width: 72px;
        }
        &-contacts {
          width: 64px;
        }
      }
    }
    &-mailtel {
      display: flex;
      width: 307px;
      justify-content: space-between;
    
      margin-left: 344px;
      margin-bottom: 32px;
      margin-top: 32px;
      &-email {
        width: 135px;
      }
      &-tel {
        width: 135px;
      }
    }
  }

  li a:hover {
    color: var(--button-color);
    text-decoration: none;
  }

  @media (max-width:768px){

    .header{
    &-navigation {
      width: 768px;
      height: 80px;
      &-logo {
        font-size: 24px;
        line-height: 28.18px;

        &-web {
          margin-left: 15px;
        }
      }
      & a {
        margin-top: 26px;
        margin-bottom: 26px;
      }
      &-list {
        width: 283px;
        margin-left: 87px;
        height: 38px;
      }
      &-mailtel {
        width: 123px;
        display: flex;
        flex-direction: column;

        margin-left: 96px;
        margin-bottom: 21px;
        margin-top: 21px;
        &-email {
          height: 14px;
          font-size: 14px;
        }
        &-tel {
          height: 14px;
          font-size: 14px;
        }
      }
    }
  }
  }